.btnCard {
  width:555px;
  height: 400px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.mat-mdc-header-cell {
  background:  #182d5d !important;
  color: white !important;
}
.card-title{
  color: rgb(255, 255, 255);
  background-color: #041b4feb;
  font-family: cursive;
}


.table{
  background-color:white;
  font-family: sans-serif;
  border-radius: 10%;

}
.tableData{
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}

.tableHeader{
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}
.paginator{
  color: rgb(0, 0, 0);
  font-family: cursive;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30.5rem;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}

.popup .content {
  max-height: 60%;
  overflow: auto;
}

@media screen and (max-width: 700px) {

  .popup {
    width: 70%;
  }
}

.button.btn.add::before {
  font-family: fontAwesome;
  content: "\f067\00a0";
}

.button.btn.edit::before {
  font-family: fontAwesome;
  content: "\f044\00a0";
}

button.btn.save::before {
  font-family: fontAwesome;
  content: "\f00c\00a0";
}

button.btn.cancel::before {
  font-family: fontAwesome;
  content: "\f00d\00a0";
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #d60000;
  background-color: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #00ff40;
}


.modal-title{
  font-weight: bolder;
  font-size: x-large;
}

