<div>
  <ng-template pTemplate="header">
    <!-- Adding Table Templete Start -->
    <div>
      <h1 style="font-family: cursive; font-size: xx-large; color: #000158; text-align: center;">Display Table</h1>
    </div>
    <div style="background-color: #a4a69a !important;">
      <label style="font-family: cursive; font-size: large; color: #000000;">
       {{tableName}}
      </label>
      <br>
      <label style="font-family: cursive; font-size: small; color: #0f0f0f;">
        {{tableInstructions}}
      </label>
      <p-table [value]="columns" [tableStyle]="{ 'min-width': '50rem' }" title="aksjdn">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let item of columns" style="background-color: #c0cf69; color: rgb(9, 9, 9);text-align: center;">
              {{item.columnName}}
              <br>
              <label style="font-size: smaller; color: red; font-weight: lighter; text-align: center;"
                *ngIf="item.lowerLimit != null || item.upperLimit!=null"> ( {{item.lowerLimit}} to
                {{item.upperLimit}} {{item.uom}} )</label>
            </th>
          </tr>

        </ng-template>

        <ng-template pTemplate="body" class="flex align-items-center" let-col>
          <td style="text-align: center;">
            <p-inputNumber *ngIf="col.dataType == 'decimal' || col.dataType == 'int'">
            </p-inputNumber>
            <p-dropdown [options]="Genders" *ngIf="col.dataType == 'gender'" placeholder="Select"
              appendTo="body"></p-dropdown>
            <input type="text" pInputText *ngIf="col.dataType == 'string'" />
            <p-calendar *ngIf="col.dataType == 'date' " class="treetableDate" [style]="{'width':'50%'}"
              [inputStyle]="{'width':'0%'}" appendTo="body"></p-calendar>
          </td>
        </ng-template>
      </p-table>
    </div>
    <!-- Adding Table Templete End -->



  </ng-template>



  <!-- Adding Table Details Start-->
  <p-card>
    <div class="row">
      <div class="col" style="width: fit-content;">
        <label for="name">Table Name</label>
      </div>
      <div class="col">
        <input type="text" pInputText [(ngModel)]="tableName" style="width: 385px;" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="name">Table Instructions</label>
      </div>
      <div class="col">
        <textarea rows="2" cols="50" pInputTextarea [(ngModel)]="tableInstructions"></textarea>
      </div>
    </div>

    <p-table [value]="columns" [tabIndex]="1" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Sl No</th>
          <th>Column Names</th>
          <th>Data Type</th>
          <th>Lower Limit</th>
          <th>UOM</th>
          <th>Upper Limit</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" class="flex align-items-center" let-col>
        <tr>
          <td>
            {{columns.indexOf(col)+1}}
          </td>
          <td>
            <input type="text" pInputText [(ngModel)]="col.columnName" />
          </td>
          <td>
            <p-dropdown appendTo="body" [options]="datatypes" [(ngModel)]="col.dataType"
              placeholder="Select"></p-dropdown>
          </td>
          <td>
            <p-inputNumber [(ngModel)]="col.lowerLimit"></p-inputNumber>
          </td>
          <td>
            <p-inputNumber [(ngModel)]="col.upperLimit"></p-inputNumber>
          </td>
          <td>
            <p-dropdown appendTo="body" [options]="Uoms" [(ngModel)]="col.uom" placeholder="Select"></p-dropdown>
          </td>
          <td>
            <button class="btn" matTooltip="Insert Above" (click)="insertColumn(columns.indexOf(col))">
              <i class="fa fa-plus" style="color: green;"></i>
            </button>

            <button class="btn" style="color: red;" matTooltip="Remove" *ngIf="columns.length>1"
              (click)="removeColumn(columns.indexOf(col))">
              <i class="fa fa-trash"></i>
            </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <!-- <button class="btn btn-primary" (click)="insertColumn()">Insert Column</button> -->
  <div class="footer">
    <p-card style="position: sticky;">
      <button class="btn btn-success" (click)="SaveTable()">Save</button>
      <button class="btn btn-danger" (click)="ngOnInit()">Cancel</button>
    </p-card>
  </div>
  <!-- Adding Table Details End-->
</div>
